
@model WebApplication1.Models.Producto
@{
    ViewBag.Title = "Index";
}

<h2>Producto</h2>
@using(Html.BeginForm())
{
    @Html.LabelFor(m => m.nombre)
    @Html.TextBoxFor(m => m.nombre)

    <br />
    @Html.LabelFor(m => m.descripcion)
    @Html.TextBoxFor(m => m.descripcion)

    <br />
    @Html.LabelFor(m => m.precio)
    @Html.TextBoxFor(m => m.precio)

}
